/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #ffecff;
}

:root{
    --cor0: #F20789;
    --cor1: #A60A60;
    --cor2: #F2059F;
    --cor3: #F1C2F2;
    --cor4: #F2F2F2;
}

/* Container */

/* Header */
.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor2);
    padding-left: 20rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3 {
    color: var(--cor1);
    font-size: 1.6rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    /* padding: 3rem 1rem 2rem 1rem; */
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--cor4);
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover {
    background-color: var(--cor2);
    border-bottom: 4px solid var(--cor4);
    color: var(--cor4);
}

/* Descrição */
.description {
  margin-bottom: 24px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

/* Botões */
.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.actions a {
  text-decoration: none;
  text-align: center;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
}

/* WhatsApp */
.btn-whatsapp {
  background-color: #25d366;
  color: #fff;
}

/* Instagram */
.btn-instagram {
  background-color: #e1306c;
  color: #fff;
}

/* Informações */
.info {
  font-size: 0.9rem;
  text-align: center;
  color: #555;
  line-height: 1.6;
}
